/* Mobile */
@media screen and (max-width: 768px) {
    .mivne-icon-Diagram {
        position: absolute;
        width: 19vw;
        height: auto;
        right: 50%;
        transform: translateX(50%);
        margin-top: 10vh;
    }

    .diagram-title {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        font-family: 'Karantina', cursive;
        font-size: 14vw;
        color: #595959;
        width: 90vw;
        text-align: center;
        margin-top: 19vh;

    }

    .subtitle-diagram {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        text-align: center;
        font-family: 'Heebo', sans-serif;
        font-size: 6vw;
        color: grey;
        width: 88vw;
        direction: rtl;
    }

    #subtitleD1 {
        margin-top: 37vh;
    }

    #subtitleD2 {
        margin-top: 95vh;
    }

    .setup {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        width: 88vw;
        margin-top: 59vh;
        z-index: 3;
    }

    .MagnifyPic-text-diagram {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        top: 88vh;
        font-family: 'Heebo', sans-serif;
        font-size: 3.5vw;
        color: grey;
        width: 60vw;
    }

    .glass-diagram {
        position: absolute;
        right: 17vw;
        top: 87vh;
        height: auto;
        width: 7vw;
    }

    .hpArrow-diagram {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        width: 17vw;
        margin-top: 108vh;
    }

    .all-diagram {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        width: 100vw;
        margin-top: 301vh;
    }

    .line {
        border-left: 2vw solid #595959;
        position: absolute;
        height: 180vh;
        left: 49vw;
        z-index: 0;
        top: -176vh;
    }

    .first-frame {
        width: 80vw;
        height: 9vh;
        background-color: #053859;
        border: 1.5vw solid #053859;
        padding-top: 1vh;
        padding-bottom: 1vh;
        z-index: 2;
        text-align: center;
        position: relative;
        margin-top: -184vh;
        transform: translateX(70%);
        right: 50%;
    }

    .first-frame-text {
        font-family: 'Karantina', cursive;
        font-size: 13vw;
        margin: 0;
        color: rgb(255, 255, 255);
    }

    .second-frame {
        width: 65vw;
        height: 7vh;
        margin-top: 14vh;
        background-color: #175a85;
        border: 1.5vw solid #175a85;
        padding-top: 1vh;
        padding-bottom: 2vh;
        z-index: 2;
        text-align: center;
        position: relative;
        transform: translateX(95%);
        right: 50%;
        margin-top: 5vh;
    }

    .second-frame-text {
        font-family: 'Karantina', cursive;
        font-size: 13vw;
        margin: 0;
        color: rgb(255, 255, 255);
    }

    .blue-frame {
        position: relative;
        right: 50%;
        transform: translateX(109%);
        width: 60vw;
        height: 12vh;
        margin-top: 6vh;
        bottom: 2vh;
        padding-top: 1vh;
        padding-bottom: 2vh;
        z-index: 2;
        text-align: center;
    }

    .blue-box {
        background-color: #56c3e8;
        border: 1.5vw solid #56c3e8;
        color: #ffffff;
    }

    .colored-box-text {
        font-family: 'Karantina', cursive;
        font-size: 11vw;
        margin: 0;
        color: #ffffff;
    }

    .orange-box {
        position: relative;
        right: 50%;
        transform: translateX(144%);
        width: 35vw;
        height: 8vh;
        text-align: center;
        margin-top: 1vh;
        padding-top: 2vh;
        padding-bottom: 1vh;
        background-color: #ff9900;
        border: 1.5vw solid #ff9900;
        color: #ffffff;
    }

    .red-box {
        position: relative;
        right: 50%;
        transform: translateX(285%);
        width: 35vw;
        height: 8vh;
        text-align: center;
        margin-top: -12.5vh;
        padding-top: 2vh;
        padding-bottom: 1vh;
        background-color: #e06666;
        border: 1.5vw solid #e06666;
        color: #ffffff;
    }

    .dotLine {
        position: relative;
        right: 50%;
        transform: translateX(197%);
        height: 6vh;
        width: 42vw;
        background-color: transparent;
        color: #595959;
        font-size: 9vmin;
        top: -120vh;
    }

    .colored-box-sub {
        font-size: 2vw;
        cursor: pointer;
        text-align: center;
        color: white;
        position: relative;
        right: 50%;
        transform: translateX(111%);
        background-color: #56c3e8;
        border: 1.5vw solid #56c3e8;
        width: 60vw;
        height: 12vh;
        padding-top: 0vh;
        padding-bottom: 2vh;
        z-index: 2;
        text-align: center;
        top: 4vh;
        margin-bottom: 4vh;
    }

    .btn-print-diagram {
        position: absolute;
        margin-top: 315vh;
        background-color: transparent;
        width: 100vw;
        height: 7vh;
        background-color: rgb(151, 151, 151);
    }

    .print-img-diagram {
        position: relative;
        top: 1.25vh;
        left: 21vw;
        width: 7vw;
    }

    .text-print-diagram {
        position: relative;
        top: -5vh;
        left: -3vw;
        font-size: 4vmin;
        text-decoration: underline;
        color: #ffffff;
        font-weight: bold;
        font-family: 'Heebo', sans-serif;
    }
}

/* Tablet */
@media screen and (min-width: 769px) and (max-width: 1024px) {}

/* Desktop */
@media screen and (min-width: 1025px) {

    .diagram-container {
        overflow-x: hidden;
        /* מסתיר גלילה אופקית */
        overflow-y: auto;
        /* מאפשר גלילה אנכית */
        scroll-behavior: smooth;
        /* אם רצית גלילה חלקה */
    }

    .mivne-icon-Diagram {
        position: absolute;
        width: 7vw;
        height: auto;
        right: 50%;
        transform: translateX(50%);
        top: 14vh;
    }

    .diagram-title {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        font-family: 'Karantina', cursive;
        font-size: 5vw;
        color: rgb(86, 195, 232);
        width: 90vw;
        text-align: center;
        margin-top: 26vh;
    }

    #subtitleD1 {
        top: 45vh;
        right: 50vw;
    }

    .subtitle-diagram {
        position: absolute;
        text-align: right;
        font-family: 'Heebo', sans-serif;
        font-size: 2vw;
        color: #185885;
        width: 30vw;
        direction: rtl;
    }

    #subtitleD2 {
        top: 75vh;
        right: 50vw;
    }

    .setup {
        position: absolute;
        top: 45vh;
        right: 13vw;
        width: 30vw;
        z-index: 3;
    }

    .MagnifyPic-text-diagram {
       position: absolute;
        right: 0vw;
        top: 82vh;
        font-family: 'Heebo', sans-serif;
        font-size: 1.5vw;
        color: grey;
        width: 60vw;
    }

    .glass-diagram {
        position: absolute;
        right: 17vw;
        top: 81vh;
        height: auto;
        width: 2.5vw;
    }

    .hpArrow-diagram {
        display: none;
    }

    .all-diagram {
        position: absolute;
        right: 50%;
        transform: translateX(49%);
        width: 100vw;
        top: 282vh;
    }

    .line {
        border-left: 1vw solid #595959;
        position: absolute;
        height: 215vh;
        left: 49vw;
        z-index: 0;
        top: -176vh;
    }

    .first-frame {
        width: 24vw;
        height: 8vh;
        background-color: #053859;
        border: 1.5vw solid #053859;
        z-index: 2;
        position: relative;
        margin-top: -184vh;
        left: 36vw;
        cursor: pointer;
    }

    .first-frame-text {
       font-family: 'Karantina', cursive;
        font-size: 5vw;
        margin: 0;
        color: rgb(255, 255, 255);
        width: 30vw;
        height: 12vh;
        margin-top: -1vh;
        margin-left: -3vw;
    }

    .second-frame {
        width: 18vw;
        height: 5vh;
        background-color: #175a85;
        border: 1.5vw solid #175a85;
        padding-top: 1vh;
        padding-bottom: 2vh;
        padding-left: -7vw;
        z-index: 2;
        text-align: center;
        position: absolute;
        right: 50%;
        transform: translateX(49%);
        margin-top: 5vh;
        cursor: pointer;
    }

    .second-frame-text {
       font-family: 'Karantina', cursive;
        font-size: 4vw;
        margin: 0;
        color: rgb(255, 255, 255);
        width: 30vw;
        height: 13vh;
        margin-top: -1vh;
        margin-left: -6vw;
    }

    .blue-frame {
        position: relative;
        left: 40vw;
        width: 17vw;
        height: 16vh;
        margin-top: 27vh;
        bottom: 2vh;
        padding-top: -16vh;
        padding-bottom: -4vh;
        z-index: 2;
        cursor: pointer;
    }

    .blue-box {
        background-color: #56c3e8;
        border: 1.5vw solid #56c3e8;
        color: #ffffff;
    }

    .colored-box-text {
        font-family: 'Karantina', cursive;
        font-size: 3.7vw;
        margin: 0;
        color: #ffffff;
    }

    .orange-box {
        position: relative;
        left: 24vw;
        top: 1.5vh;
        width: 16vw;
        height: 9vh;
        text-align: center;
        margin-top: 1vh;
        background-color: #ff9900;
        border: 1.5vw solid #ff9900;
        color: #ffffff;
        cursor: pointer;
    }

    .red-box {
        position: relative;
        left: 58vw;
        width: 16vw;
        height: 9vh;
        text-align: center;
        margin-top: -12.5vh;
        background-color: #e06666;
        border: 1.5vw solid #e06666;
        color: #ffffff;
        cursor: pointer;
    }

    .dotLine {
        position: relative;
        left: 30vw;
        height: 6vh;
        width: 42vw;
        background-color: transparent;
        color: #595959;
        font-size: 9vmin;
        top: -114vh;
    }

    .colored-box-sub {
        font-size: 2vw;
        cursor: pointer;
        text-align: center;
        color: white;
        position: relative;
        left: 40vw;
        background-color: #56c3e8;
        border: 1.5vw solid #56c3e8;
        width: 17vw;
        height: 16vh;
        z-index: 2;
        top: 4vh;
        margin-bottom: 4vh;
        cursor: pointer;
    }

    .btn-print-diagram {
        position: absolute;
        margin-top: 345vh;
        background-color: transparent;
        width: 100%;
        height: 10vh;
        background-color: rgb(151, 151, 151);
        cursor: pointer;
    }

    .print-img-diagram {
        position: relative;
        width: 3vw;
        bottom: -2vh;
        left: 4vw;
    }

    .text-print-diagram {
        position: relative;
        bottom: 7vh;
        left: -3.5vw;
        font-size: 4vmin;
        text-decoration: underline;
        color: white;
        font-family: 'Karantina', cursive;
    }
}