/* Mobile */
@media screen and (max-width: 768px) {
  .intro-div-Relations {
    background-color: white;
  }

  .hpArrow-Relations {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 20vw;
    bottom: 15vh;
    animation: bounce2 2s ease infinite;
  }

  .photo-mimshak-intro {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 26vw;
    margin-top: 18vh;
  }

  @keyframes bounce2 {
    0% {
      bottom: 15vh;
    }

    50% {
      bottom: 12vh;
    }

    100% {
      bottom: 15vh;
    }
  }

  .title-intro-rel {
    font-family: 'Karantina', cursive;
    font-size: 16vw;
    margin-top: 34vh;
    width: 100%;
    text-align: center;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    color: rgb(86, 195, 232);
  }

  .sub-intro-rel {
    font-family: 'Heebo', sans-serif;
    font-size: 5vw;
    color: grey;
    text-align: center;
    margin-top: 49vh;
    width: 82vw;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    direction: rtl;
  }


  .title-page1 {
    font-family: 'Karantina', cursive;
    font-size: 14vw;
    margin-bottom: 3vw;
    margin-top: 32vh;
    width: 87%;
    text-align: center;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    transition: color 0.3s;
  }

  .all-steps {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    margin-bottom: 4vh;
    display: flex;
    width: 71vw;
    justify-content: center;
    direction: rtl;
    margin-top: 22vh;
  }

  .btn-steps {
    width: 14vh;
    height: 4vh;
    margin-right: 1vw;
    margin-left: 0vw;
    padding-top: 1vh;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    color: white;
    transition: background-color 0.3s;
    font-weight: bold;
  }

  .arrow-down {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid rgb(86, 195, 232);
    position: relative;
    top: 0vh;
    right: 8vw;
  }

  .photo-mimshak {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 19vw;
    margin-top: 11vh;
  }

  .content-page1 {
    height: 52vh;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 100%;
    margin-top: 40vh;
  }

  .text-page1 {
    font-family: 'Heebo', sans-serif;
    font-size: 5vmin;
    color: grey;
    text-align: center;
    margin-top: 2vh;
    width: 90%;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    direction: rtl;
  }

  .all-opotion {
    font-family: 'Heebo', sans-serif;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    text-align: center;
    color: #595959;
    margin-top: 12vh;
  }

  .array-item {
    height: 6vh;
    width: 85vw;
    background-color: #d9d9d9;
    margin-top: 2vh;
    padding-top: 1.5vh;
    font-size: 5vmin;
    cursor: pointer;
    margin-bottom: 3vh;
  }

  .array-item:active {
    background-color: #56c3e8;
    color: white;
  }

  .sub-text-relations {
    font-family: 'Heebo', sans-serif;
    font-size: 5vmin;
    color: grey;
    text-align: center;
    margin-top: 29vh;
    width: 90%;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    direction: rtl;
  }

  #btn-print-relations1 {
    position: absolute;
    background-color: transparent;
    width: 100vw;
    height: 7vh;
    background-color: rgb(151, 151, 151);
  }

  .print-img-relations1 {
    position: relative;
    top: 1.25vh;
    left: 21vw;
    width: 7vw;
  }

  .text-print-relations1 {
    position: relative;
    top: -5vh;
    left: -3vw;
    font-size: 4vmin;
    text-decoration: underline;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Heebo', sans-serif;
  }
}

/* Tablet */
@media screen and (min-width: 769px) and (max-width: 1024px) {}

/* Desktop */
@media screen and (min-width: 1025px) {

  .hpArrow-Relations {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 9vw;
    bottom: 15vh;
    animation: bounce2 2s ease infinite;
    cursor: pointer;
  }

  .photo-mimshak-intro {
   position: absolute;
        width: 7vw;
        height: auto;
        right: 50%;
        transform: translateX(50%);
        top: 14vh;
  }

  @keyframes bounce2 {
    0% {
      bottom: 10vh;
    }

    50% {
      bottom: 8vh;
    }

    100% {
      bottom: 10vh;
    }
  }

  .title-intro-rel {
  font-family: 'Karantina', cursive;
    font-size: 5vw;
    color: rgb(86, 195, 232);
    font-weight: bold;
    margin-top: 29vh;
    width: 100%;
    text-align: center;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
  }

  .sub-intro-rel {
    font-family: 'Heebo', sans-serif;
    font-size: 3vw;
    color: grey;
    text-align: center;
    margin-top: 49vh;
    width: 78vw;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    direction: rtl;
  }


  .title-page1 {
    font-family: 'Karantina', cursive;
    font-size: 8vw;
    margin-bottom: 3vw;
    margin-top: 33vh;
    width: 87%;
    text-align: center;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    transition: color 0.3s;
  }

  .all-steps {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    margin-bottom: 4vh;
    display: flex;
    width: 71vw;
    justify-content: center;
    direction: rtl;
    margin-top: 22vh;
  }

  .btn-steps {
    width: 14vh;
    height: 4vh;
    margin-right: 1vw;
    margin-left: 0vw;
    padding-top: 1vh;
    font-size: 2.2vmin;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    color: white;
    transition: background-color 0.3s;
    font-weight: bold;
    cursor: pointer;
  }

  .arrow-down {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid rgb(86, 195, 232);
    position: relative;
    top: 0.5vh;
    right: 3vw;
    cursor: pointer;
  }

  .photo-mimshak {
   display: none;
  }

  .content-page1 {
    height: 52vh;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 100%;
    margin-top: 40vh;
  }

  .text-page1 {
    font-family: 'Heebo', sans-serif;
    font-size: 4vmin;
    color: grey;
    text-align: center;
    margin-top: 10vh;
    width: 90%;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    direction: rtl;
  }

  .all-opotion {
    font-family: 'Heebo', sans-serif;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    text-align: center;
    color: #595959;
    margin-top: 19vh;
  }

  .array-item {
    height: 8vh;
    width: 37vw;
    background-color: #d9d9d9;
    margin-top: 2vh;
    padding-top: 1.5vh;
    font-size: 4vmin;
    cursor: pointer;
    margin-bottom: 3vh;
  }

  .array-item:hover {
    background-color: #56c3e8;
    color: white;
  }

  .sub-text-relations {
    font-family: 'Heebo', sans-serif;
    font-size: 5vmin;
    color: grey;
    text-align: center;
    margin-top: 29vh;
    width: 90%;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    direction: rtl;
  }

  #btn-print-relations1 {
    position: absolute;
    top: 25vh;
    background-color: transparent;
    width: 100%;
    height: 10vh;
    background-color: rgb(151, 151, 151);
    cursor: pointer;
  }

  .print-img-relations1 {
    position: relative;
    width: 3vw;
    bottom: -2vh;
    left: 4vw;
  }

  .text-print-relations1 {
    position: relative;
    bottom: 7vh;
    left: -3.5vw;
    font-size: 4vmin;
    text-decoration: underline;
    color: white;
    font-family: 'Karantina', cursive;
  }

}