/* Mobile */
@media screen and (max-width: 768px) {
  .arrow-down-target {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #595959;
    position: relative;
    top: 0vh;
    right: 8vw;
    cursor: pointer;
  }

  .title-intro-tar {
    font-family: 'Karantina', cursive;
    font-size: 16vw;
    margin-top: 32vh;
    width: 100%;
    text-align: center;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    color: rgb(86, 195, 232);
  }

  .sub-intro-tar {
    font-family: 'Heebo', sans-serif;
    font-size: 5vw;
    color: grey;
    text-align: center;
    margin-top: 53vh;
    width: 82vw;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    direction: rtl;
  }

  .hpArrow-Target {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 20vw;
    bottom: 13vh;
    animation: bounce3 2s ease infinite;
  }

  @keyframes bounce3 {
    0% {
      bottom: 13vh;
    }

    50% {
      bottom: 10vh;
    }

    100% {
      bottom: 13vh;
    }
  }

  .photo-target-intro {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 20vw;
    margin-top: 18vh;
  }

  .title-Target {
    font-family: 'Karantina', cursive;
    font-size: 13vw;
    margin-bottom: 3vw;
    margin-top: 32vh;
    width: 48%;
    text-align: center;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    transition: color 0.3s;
  }


  .all-option-step1 {
    font-family: 'Heebo', sans-serif;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    text-align: center;
    color: #595959;
    margin-top: 8vh;
    font-weight: normal;
  }

  .array-item-step1 {
    height: 6vh;
    width: 85vw;
    background-color: #d9d9d9;
    margin-top: 2vh;
    padding-top: 1.5vh;
    font-size: 5vmin;
    cursor: pointer;
    margin-bottom: 3vh;
  }

  .array-item:active {
    background-color: #56c3e8;
    color: white;
  }

  #text-Target1 {
    font-family: 'Heebo', sans-serif;
    font-size: 5vmin;
    color: grey;
    text-align: center;
    margin-top: 2vh;
    width: 90%;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    direction: rtl;
  }

  #text-Target2 {
    font-family: 'Heebo', sans-serif;
    font-size: 5vmin;
    color: grey;
    text-align: center;
    margin-top: 8vh;
    width: 90%;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    direction: rtl;
  }

  .all-option-step2 {
    font-family: 'Heebo', sans-serif;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    text-align: center;
    margin-top: 16vh;
    color: white;
  }

  .array-item-step2 {
    height: 6vh;
    width: 85vw;
    margin-top: 2vh;
    padding-top: 1.5vh;
    font-size: 5.5vmin;
    cursor: pointer;
    margin-bottom: 3vh;
  }

  #step2Item0 {
    background-color: #6fa8dc;
  }

  #step2Item1 {
    background-color: #67d7b2;
  }

  #step2Item2 {
    background-color: #ea9999;
    margin-bottom: 9vh;
  }

  .line-array {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    height: 4vh;
    width: 74vw;
    margin-top: -41vh;
    background-color: transparent;
    color: black;
  }

  #step2Item3 {
    background-color: #f9cb9c;
  }

  #step2Item4 {
    background-color: #b4a7d6;
  }

  #step2Item5 {
    background-color: #b7b7b7;
    margin-bottom: 6vh;
  }


  #btn-print-target1 {
    position: absolute;
    background-color: transparent;
    width: 100vw;
    height: 7vh;
    background-color: rgb(151, 151, 151);
  }

  .print-img-target1 {
    position: relative;
    top: 1.25vh;
    left: 21vw;
    width: 7vw;
  }

  .text-print-target1 {
    position: relative;
    top: -5vh;
    left: -3vw;
    font-size: 4vmin;
    text-decoration: underline;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Heebo', sans-serif;
  }
}

/* Tablet */
@media screen and (min-width: 769px) and (max-width: 1024px) {}

/* Desktop */
@media screen and (min-width: 1025px) {
  .arrow-down-target {
    border-top: 12px solid #595959;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    position: relative;
    top: 0.5vh;
    right: 3vw;
  }

  .title-intro-tar {
font-family: 'Karantina', cursive;
    font-size: 5vw;
    color: rgb(86, 195, 232);
    font-weight: bold;
    margin-top: 29vh;
    width: 100%;
    text-align: center;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
  }

  .sub-intro-tar {
    font-family: 'Heebo', sans-serif;
        font-size: 2vw;
    color: grey;
    text-align: center;
    margin-top: 49vh;
    width: 45vw;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    direction: rtl;
  }

  .hpArrow-Target {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 5vw;
    bottom: 15vh;
    animation: bounce2 2s ease infinite;
    cursor: pointer;
  }

  @keyframes bounce3 {
    0% {
      bottom: 10vh;
    }

    50% {
      bottom: 8vh;
    }

    100% {
      bottom: 10vh;
    }
  }

  .photo-target-intro {
   position: absolute;
        width: 5vw;
        height: auto;
        right: 50%;
        transform: translateX(50%);
        top: 15vh;
  }

  .title-Target {
    font-family: 'Karantina', cursive;
    font-size: 5vw;
    margin-bottom: 3vw;
    margin-top: 33vh;
    width: 87%;
    text-align: center;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    transition: color 0.3s;
  }


  .all-option-step1 {
    font-family: 'Heebo', sans-serif;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    text-align: center;
    color: #595959;
    margin-top: 19vh;
  }

  .array-item-step1 {
          height: 6vh;
        width: 29vw;
        background-color: #d9d9d9;
        margin-top: 2vh;
        padding-top: 1.5vh;
        font-size: 3vmin;
        cursor: pointer;
        margin-bottom: 3vh;
  }

  .array-item:active {
    background-color: #56c3e8;
    color: white;
  }

  #text-Target1 {
    font-family: 'Heebo', sans-serif;
    font-size: 3vmin;
    color: grey;
    text-align: center;
    margin-top: 10vh;
    width: 90%;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    direction: rtl;
  }

  #text-Target2 {
    font-family: 'Heebo', sans-serif;
    font-size: 4vmin;
    color: grey;
    text-align: center;
    margin-top: 8vh;
    width: 90%;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    direction: rtl;
  }

  .all-option-step2 {
    font-family: 'Heebo', sans-serif;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    text-align: center;
    color: white;
    margin-top: 19vh;
    
  }

  .array-item-step2 {
          height: 6vh;
        width: 29vw;
    margin-top: 2vh;
    padding-top: 1.5vh;
        font-size: 3vmin;
    cursor: pointer;
    margin-bottom: 3vh;
  }

  #step2Item0 {
    background-color: #6fa8dc;
  }

  #step2Item1 {
    background-color: #67d7b2;
  }

  #step2Item2 {
    background-color: #ea9999;
    margin-bottom: 9vh;
  }

  .line-array {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    height: 4vh;
    width: 74vw;
    top: 33vh;
    background-color: transparent;
    color: black;
  }

  #step2Item3 {
    background-color: #f9cb9c;
  }

  #step2Item4 {
    background-color: #b4a7d6;
  }

  #step2Item5 {
    background-color: #b7b7b7;
    margin-bottom: 6vh;
  }


  #btn-print-target1 {
    position: absolute;
    top: 25vh;
    background-color: transparent;
    width: 100%;
    height: 10vh;
    background-color: rgb(151, 151, 151);
    cursor: pointer;
  }

  .print-img-target1 {
    position: relative;
    width: 3vw;
    bottom: -2vh;
    left: 4vw;
  }

  .text-print-target1 {
    position: relative;
    bottom: 7vh;
    left: -3.5vw;
    font-size: 4vmin;
    text-decoration: underline;
    color: white;
    font-family: 'Karantina', cursive;
  }
}