/* Mobile */
@media screen and (max-width: 768px) {
    .icon-Tasks {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        width: 26vw;
        margin-top: 18vh;
    }

    .Tasks-title {
        font-family: 'Karantina', cursive;
        font-size: 16vw;
        margin-top: 34vh;
        width: 100%;
        text-align: center;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        color: rgb(86, 195, 232);
    }

    .subTitle1-tasks {
        font-family: 'Heebo', sans-serif;
        font-size: 5vw;
        color: grey;
        text-align: center;
        margin-top: 49vh;
        width: 82vw;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        direction: rtl;
    }

    .array-tasks {
        font-family: 'Heebo', sans-serif;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        text-align: center;
        color: #595959;
        margin-top: 60vh;
    }

    .tasksDiv {
        height: 6vh;
        width: 85vw;
        background-color: #d9d9d9;
        margin-top: 2vh;
        padding-top: 1.5vh;
        font-size: 5vmin;
        cursor: pointer;
        margin-bottom: 3vh;
    }

    .tasksDiv:hover {
        background-color: #56c3e8;
        color: white;
    }

    .part2-tasks {
        max-width: 800px;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        direction: rtl;
        top: 37vh;
    }

    .btn-to-tasksPart1 {
        margin-top: 10vh;
        margin-bottom: 10vh;
        cursor: pointer;
        color: #56c3e8;
        text-decoration: underline;
        text-align: center;
        font-family: 'Heebo', sans-serif;
        font-size: 1.5rem;
    }

    .selected-task-title {
        font-size: 1.5rem;
        margin-top: 8vh;
        margin-bottom: 20px;
        text-align: center;
        font-weight: bold;
        font-family: 'Heebo', sans-serif;
        color: #595959;
    }

    .selected-task-prefix {
        font-weight: bold;
        color: #555;
        margin-left: 5px;
        font-size: 4vmin;

    }

    .selected-task-id {
        font-weight: bold;
        color: rgb(35 88 132);
        font-size: 1.5rem;

    }

    .sub-title-only {
        font-weight: bold;
        color: rgb(35 88 132);
        font-size: 1rem;
        text-decoration: underline;
        margin-bottom: 2vh;
    }


    .task-section {
        margin-bottom: 40px;
        width: 85vw;
    }

    .section-title {
        font-size: 1.4rem;
        margin-bottom: 10px;
        color: rgb(35 88 132);
        text-align: right;
        border-bottom: 2px solid rgb(35 88 132);
        padding-bottom: 5px;
        font-family: 'Heebo', sans-serif;
    }

    .task-list {
        padding-right: 20px;
        list-style: none;
        font-family: 'Heebo', sans-serif;
        text-align: right;
        line-height: 5vh;
    }

    .subtasks-no-bullet {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    /* 
    .task-list ul {
        list-style-type: circle;
        padding-right: 20px;
    } */

    .checkbox-label {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        font-size: 1rem;
    }
}

/* Tablet */
@media screen and (min-width: 769px) and (max-width: 1024px) {}

/* Desktop */
@media screen and (min-width: 1025px) {
    .icon-Tasks {
        position: absolute;
        width: 7vw;
        height: auto;
        right: 50%;
        transform: translateX(50%);
        top: 14vh;
    }

    .Tasks-title {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        font-family: 'Karantina', cursive;
        font-size: 5vw;
        color: rgb(86, 195, 232);
        width: 90vw;
        text-align: center;
        margin-top: 26vh;
    }

    .subTitle1-tasks {
        font-family: 'Heebo', sans-serif;
        font-size: 2vw;
        color: grey;
        text-align: center;
        width: 55%;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        top: 36vh;
    }

    .array-tasks {
        font-family: 'Heebo', sans-serif;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        text-align: center;
        color: #595959;
        margin-top: 45vh;
    }

    .tasksDiv {
        height: 6vh;
        width: 29vw;
        background-color: #d9d9d9;
        margin-top: 2vh;
        padding-top: 1.5vh;
        font-size: 3vmin;
        cursor: pointer;
        margin-bottom: 3vh;
    }

    .tasksDiv:hover {
        background-color: #56c3e8;
        color: white;
    }

    .part2-tasks {
        max-width: 800px;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        direction: rtl;
        top: 37vh;
    }

    .btn-to-tasksPart1 {
        margin-top: 10vh;
        margin-bottom: 10vh;
        cursor: pointer;
        color: #56c3e8;
        text-decoration: underline;
        text-align: center;
        font-family: 'Heebo', sans-serif;
        font-size: 1.5rem;
    }

    .selected-task-title {
        font-size: 2rem;
        margin-bottom: 20px;
        text-align: center;
        font-weight: bold;
        font-family: 'Heebo', sans-serif;
        color: #595959;
    }

    .sub-title-only {
        font-weight: bold;
        color: rgb(35 88 132);
        font-size: 1rem;
        text-decoration: underline;
    }

    .selected-task-prefix {
        font-weight: bold;
        color: #555;
        margin-left: 5px;
    }

    .selected-task-id {
        font-weight: bold;
        color: rgb(35 88 132);
        font-size: 3.5rem;
    }

    .subtasks-no-bullet {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .task-section {
        margin-bottom: 40px;
    }

    .section-title {
        font-size: 1.4rem;
        margin-bottom: 10px;
        color: rgb(35 88 132);
        text-align: right;
        border-bottom: 2px solid rgb(35 88 132);
        padding-bottom: 5px;
        font-family: 'Heebo', sans-serif;
    }

    .task-list {
        padding-right: 20px;
        list-style: none;
        font-family: 'Heebo', sans-serif;
        text-align: right;
        line-height: 4vh;
    }

    /* 
    .task-list ul {
        list-style-type: circle;
        padding-right: 20px;
    } */

    .checkbox-label {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        font-size: 1rem;
    }



}