/* Mobile */
@media screen and (max-width: 768px) {
    .header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 11vh;
        z-index: 1000;
        background-color: white;
    }

    .App-logo {
        height: 16vmin;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .hamburger {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .orangeTriangle {
        position: fixed;
        top: 0;
        left: 0;
        width: 42vw;
        height: auto;
        z-index: -1;
    }

    .blueTriangle {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 24vw;
        height: auto;
        z-index: -1;
        transform: rotate(180deg);
    }
}

/* Tablet */
@media screen and (min-width: 769px) and (max-width: 1024px) {}

/* Desktop */
@media screen and (min-width: 1025px) {
    .header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 12vh;
        z-index: 1000;
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow at the bottom */

    }

    .div-navbar{
         position: absolute;
        transform: translateX(50%);
        right: 50%;
        width: 70vw;
        height: 12vh;
    }

    .App-logo {
        height: 10vmin;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .hamburger {
        display: none;

    }

    .orangeTriangle {
        display: none;
    }

    .blueTriangle {
        display: none;
    }
}