/* Mobile */
@media screen and (max-width: 768px) {
    .title {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        font-family: 'Karantina';
        font-size: 16vw;
        color: #50565c;
        width: 100%;
        top: 20vh;
        text-align: center;
    }

    .div-list {
        position: absolute;
        display: flex;
        flex-direction: column;
        margin-top: 44vh;
        right: 50%;
        width: 80vw;
        transform: translateX(50%);
    }

    .photo-list-item {
        align-items: center;
        font-size: 2.5vh;
        padding-bottom: 1vh;
    }

    .photo-list-content {
        display: flex;
        flex-grow: 1;
        align-items: center;
    }

    .photo-list-image-homepage {
        width: 17vw;
        height: auto;
    }

    .photo-list-title-homepage {
        flex-grow: 1;
        text-align: right;
        font-size: 2.9vh;
        color: #50565c;
        font-weight: bolder;
        padding-right: 5%;
        font-family: 'Heebo', sans-serif;
    }

    .photo-list-item:last-child {
        border-bottom: none;
    }

    .dot-line {
        position: relative;
        right: 50%;
        transform: translateX(50%);
        margin-bottom: 2vh;
        padding-bottom: -2vh;
    }

    .mashov-home {
        font-family: 'Heebo', sans-serif;
        font-size: 4vw;
        color: #50565c;
        text-align: center;
        position: absolute;
        top: 130vh;
        right: 50%;
        transform: translateX(50%);
        width: 67vw;
    }

    .mashovText {
        margin-bottom: 4vh;
    }

    #linkHome {
        color: #50565c;
    }
}

/* Tablet */
@media screen and (min-width: 769px) and (max-width: 1024px) {}

/* Desktop */
@media screen and (min-width: 1025px) {

  
    .title {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        font-family: 'Karantina';
        font-size: 6vw;
        color: #0b5394;
        width: 100%;
        top: 21vh;
        text-align: center;
    }

    /* .div-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4vh 2vw;
        justify-items: center;
        align-items: center;
        width: 80vw;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        top: 34vh;
        direction: rtl;
    }

    .photo-list-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 10vh;
        transition: transform 0.3s ease;
        cursor: pointer;
    } */

    .div-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: nowrap;
        gap: 4vw;
        margin-top: 42vh;
        direction: rtl;
    }

    .photo-list-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        transition: transform 0.3s ease;
        cursor: pointer;
        margin-bottom: 0;
        /* ביטול הרווח האנכי */
    }

    .photo-list-item:hover {
        transform: translateY(-10px) scale(1.05);
    }

    .photo-list-content:hover .photo-list-image-homepage {
        filter: brightness(1.1) contrast(1.1);
        transition: filter 0.3s ease;
    }

    .photo-list-content:hover .photo-list-title-homepage {
        color: #0b5394;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: color 0.3s ease, text-shadow 0.3s ease;
    }

    .photo-list-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .photo-list-image-homepage {
        width: 6.5vw;
    }

    .photo-list-title-homepage {
        font-size: 3vh;
        font-weight: bold;
        padding: 0;
        text-align: center;
        color: #235884;
        font-family: 'Heebo', sans-serif;
        width: 15vw;
        position: relative;
        top: 20vh;
    }

    #title-homepage-target {
        width: 10vw;
    }


    #title-homepage-Scenario {
        width: 10vw;
    }

    .dot-line {
        display: none;
    }

    #icon-des{
width: 5vw;
    }

    /* .mashov-home {
        display: none;
    } */

      .mashov-home {
        font-family: 'Heebo', sans-serif;
        font-size: 1vw;
        color: #50565c;
        text-align: center;
        position: absolute;
        top: 90vh;
        width: 100%;
        height: 10vh;
        background-color: #d1d1d1;
        right: 50%;
        transform: translateX(50%);
    }

    .mashovText {
        margin-bottom: 4vh;
    }

    #linkHome {
        color: #50565c;
    }
}