#intro-lomda {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    background-image: url('/public/assets/images/Bg1.png');
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#video.fade-out {
    animation: fadeOut 0.3s forwards;
}

.intro-text-slide-in {
    animation: slide-in-from-top 1.5s forwards;
}

@keyframes slide-in-from-top {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes bounce2 {
    0% {
        bottom: 8vh;
    }

    50% {
        bottom: 6vh;
    }

    100% {
        bottom: 8vh;
    }
}

/* Mobile */
@media screen and (max-width: 768px) {

    .skip {
        position: absolute;
        top: 6%;
        left: 2%;
        background-color: transparent;
        font-family: 'Assistant', sans-serif;
        font-size: 1.2em;
        color: black;
        z-index: 9999999;
        border: none;
        font-weight: bolder;
    }

    .video-intro {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        height: 100vh;
    }

    #logo-white {
        position: absolute;
        width: 40vw;
        height: auto;
        z-index: 5;
        right: 50%;
        transform: translateX(50%);
        top: 6%;
    }

    #sub-title {
        font-family: 'Karantina', Arial;
        font-size: 3em;
        color: white;
        margin-bottom: -5vw;
        position: absolute;
        transform: translateX(50%);
        right: 50%;
        width: 90vw;
        top: 14vh;
    }

    #introduction-sub {
        font-family: 'Heebo', sans-serif;
        font-size: 1.2em;
        color: white;
        position: absolute;
        direction: rtl;
        top: 33vh;
        width: 70vw;
        right: 50%;
        transform: translateX(50%);
    }

    .hpArrow-intro {
        position: absolute;
        z-index: 5;
        right: 50%;
        transform: translateX(50%);
        bottom: 20vh;
        animation: bounce2 2s ease infinite;
        height: 10vh;
        width: auto;
    }
}

/* Tablet */
@media screen and (min-width: 769px) and (max-width: 1024px) {

    #logo-white {
        position: absolute;
        width: 40vw;
        height: auto;
        z-index: 5;
        right: 50%;
        transform: translateX(50%);
        top: 6%;
    }

    #sub-title {
        font-family: 'Karantina', Arial;
        font-size: 3em;
        color: white;
        margin-bottom: -5vw;
        position: absolute;
        transform: translateX(50%);
        right: 50%;
        margin-top: -19vh;
        width: 90vw;
    }

    #introduction-sub {
        font-family: 'Heebo', sans-serif;
        font-size: 3em;
        color: white;
        position: absolute;
        direction: rtl;
        margin-top: -16vh;
        width: 80vw;
        right: 50%;
        transform: translateX(50%);
    }

    .hpArrow-intro {
        position: absolute;
        z-index: 5;
        right: 50%;
        transform: translateX(50%);
        bottom: 18vh;
        animation: bounce2 2s ease infinite;
        height: 8vh;
        width: auto;
    }

    .hpArrow-intro:hover {
        cursor: pointer;

    }

    .video-intro {
        position: absolute;
        height: 150vh;

    }
}


/* Desktop */
@media screen and (min-width: 1025px) {

    #intro-lomda {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10000;
        background-image: url('/public/assets/images/Bg1.png');
    }

    .skip {
        position: absolute;
        top: 10%;
        left: 10%;
        background-color: transparent;
        font-family: 'Assistant', sans-serif;
        font-size: 3em;
        color: rgb(82, 82, 82);
        z-index: 9999999;
        border: none;
        font-weight: bolder;
    }

    .skip:hover {
        cursor: pointer;
        color: black;
    }

    .video-intro {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: contain;
    }

    #logo-white {
        position: absolute;
        width: 24vw;
        height: auto;
        z-index: 5;
        right: 50%;
        transform: translateX(50%);
        top: 6%;
    }

    #sub-title {
        font-family: 'Karantina', Arial;
        font-size: 5em;
        color: white;
        position: absolute;
        transform: translateX(50%);
        right: 50%;
        top: 26vh;
        width: 90vw;
    }

    #introduction-sub {
        font-family: 'Heebo', sans-serif;
        font-size: 1.5rem;
        color: white;
        position: absolute;
        direction: rtl;
        /* margin-top: -4vh; */
        width: 70vw;
        right: 50%;
        transform: translateX(50%);
    }

    .hpArrow-intro {
        position: absolute;
        z-index: 5;
        right: 50%;
        transform: translateX(50%);
        bottom: 20vh;
        animation: bounce2 2s ease infinite;
        height: 6.5vh;
        width: auto;
    }

    .hpArrow-intro:hover {
        cursor: pointer;
    }
}