/* Mobile */
@media screen and (max-width: 768px) {
  .popup-overlay {
    background: #000000b3;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2000;
  }

  .popup-content {
    background: #efefef;
    border-radius: 12vw;
    height: 74vh;
    overflow-y: auto;
    padding: 2vw;
    position: absolute;
    top: 15vh;
    left: 8vw;
    width: 80vw;
    overflow: hidden;
  }

  .XBtn {
    position: absolute;
    top: 5vw;
    left: 5vw;
    background: none;
    border: none;
    width: 8vw;
  }

  .popup-close-button {
    border: none;
  }

  .popup-title {
    font-family: 'Karantina';
    font-weight: normal;
    color: #595959;
    font-size: 15vw;
    margin-bottom: 7vw;
    margin-top: 8vw;
    margin-left: 4vw;
    margin-right: 4vw;
    text-align: center;
  }

  .popup-body {
    font-size: 4.5vw;
    direction: ltr;
    margin-right: 1.5vh;
    text-align: right;
    margin-left: 1.5vh;
    height: 40vh;
    margin-bottom: 1vh;
    overflow: auto;
    width: 74.5vw;
  }

  .popup-body-text {
    direction: rtl;
    font-family: 'Heebo', sans-serif;
  }
}


/* Tablet */
@media screen and (min-width: 769px) and (max-width: 1024px) {}

/* Desktop */
@media screen and (min-width: 1025px) {
  .popup-overlay {
    background: #000000b3;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2000;
  }

  .popup-content {
    background: #efefef;
    border-radius: 12vw;
    height: 74vh;
    overflow-y: auto;
    padding: 2vw;
    position: absolute;
    top: 9vh;
    left: 14vw;
    width: 65vw;
    overflow: hidden;

  }

  .XBtn {
    position: absolute;
    top: 5vw;
    left: 5vw;
    background: none;
    border: none;
    width: 5vw;
    cursor: pointer;
  }

  .popup-close-button {
    border: none;
  }

  .popup-title {
    font-family: 'Karantina';
    font-weight: normal;
    color: #595959;
    font-size: 8vw;
    margin-bottom: 7vw;
    margin-top: 2vw;
    margin-left: 7vw;
    margin-right: 4vw;
    text-align: center;
  }

  .popup-body {
    font-size: 1.7vw;
    direction: ltr;
    position: absolute;
    top: 28vh;
    left: 7vw;
    text-align: right;
    height: 45vh;
    overflow: auto;
    width: 54.5vw;
  }

  .popup-body-text {
    direction: rtl;
    font-family: 'Heebo', sans-serif;

  }
}